bin/[^.]*
lib/[^.]*
target/[^.]*
test-output/[^.]*
docs/java-api/[^.]*
out/[^.]*
build.properties
*.jar
*.iml
*.iws
*.ipr
.project
.classpath
.settings/[^.]*
[^.]*.iml
bin/.empty
*.DS_Store
*~
examples/velocity/target/[^.]*
examples/jsilver/target/[^.]*
examples/freemarker/target/[^.]*
examples/converters/target/[^.]*
examples/async/target/[^.]*
examples/interceptors/target/[^.]*

