<suite name="suite-lime-unit" verbose="1" >

  <test name="unit-tests" >
    <classes>    
       <class name="org.zdevra.guice.mvc.ExceptionResolverTest" />
       <class name="org.zdevra.guice.mvc.ParamProcessorTest" />
       <class name="org.zdevra.guice.mvc.ConversionServiceTest" />
    </classes>
  </test>
  
  <test name="integration-tests" >
    <classes>
       <class name="org.zdevra.guice.example.BasicTest" />
       <class name="org.zdevra.guice.example.SessionTest"/>
       <class name="org.zdevra.guice.example.ParameterTest" />
    </classes>
  </test>
 
</suite>
