<suite name="suite-lime-unit" verbose="1" >

  <test name="unit-tests" >
    <classes>    
       <class name="org.zdevra.guice.mvc.GuiceExceptionResolverTest" />
       <class name="org.zdevra.guice.mvc.ConversionServiceTest" />
       <class name="org.zdevra.guice.mvc.NamedViewTest"/>
       <class name="org.zdevra.guice.mvc.ModelTest"/>
       
       <class name="org.zdevra.guice.mvc.case1.Case1Test" />
       <class name="org.zdevra.guice.mvc.case2.Case2Test" />
       <class name="org.zdevra.guice.mvc.case3.Case3Test" />
       <class name="org.zdevra.guice.mvc.case4.Case4Test" />
       <class name="org.zdevra.guice.mvc.case5.Case5Test" />
       <class name="org.zdevra.guice.mvc.case6.Case6Test" />
    </classes>
  </test>

</suite>
